<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8"/>
    <title>Learn HEX Math</title>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script type="text/javascript" src="learnhex.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/common.css"/>
  </head>
  <body class="container" ng-controller="LearningController">
    <header class="row">
      <h1 class="offset1">Learn HEX Math &mdash; {{operator.name}}</h1>
    </header>

    <div id="controls" class="row">
      <div class="offset1 span2">
        <div id="timer" ng-show="playing">{{formattedTime()}}</div>
      </div>
      <div class="span1">
        <button id="finished" ng-show="playing" ng-click="end()">Finished!</button>
      </div>

      <div id="gradePercent" class="offset5 span1" ng-show="graded">{{gradePercent}}%</div>
      <div id="grade" class="span1" ng-show="graded">{{grade}}</div>
    </div>

    <div id="instructions" ng-hide="playing">
      <p>
        You can choose to either do <a ng-click="changeBoard('Addition')">addition</a>
        or <a ng-click="changeBoard('Subtraction')">subtraction</a>.
      </p>
      <p>
        You will be given {{boardSize()}} hexadecimal {{operator.name | lowercase}}
        problems to perform. They will increase in difficulty as you go through the
        rows. You will be timed. When you're done, click the &ldquo;Finished&rdquo;
        button to see your score.
      </p>
      <p>
        <strong>Answer in hexadecimal</strong>, but you do not need to include
        the <code>0x</code> prefix.
      </p>
      <button ng-click="start()">Begin!</button>
    </div>

    <div class="problems" ng-show="playing">
      <div class="row" ng-repeat="row in rows">
        <div class="span1"></div>
        <div class="problem span1" ng-repeat="problem in row" ng-class="problem.answerClass">
          <span class="facA">0x{{problem.facA.toString(16)}}</span>
          <span class="op">{{problem.op.sign}}</span>
          <span class="facB">0x{{problem.facB.toString(16)}}</span>
          <div class="answer">
            <input type="text" ng-model="problem.userAnswer"/>
          </div>
        </div>
        <div class="span1"></div>
      </div>
    </div>

    <div class="row">
      <footer class="offset1 span10">
        Learn HEX Math was written by <a href="http://robert.sesek.com">Robert Sesek</a>.
        When learning X86 assembly, I found that my inexperience with hexadecimal math
        was slowing me down. In early elementary school, our teachers made us do math
        tables for time. This recreates that learning tool online, but with
        HEX numbers instead of base-ten.
      </footer>
    </div>
  </body>
</html>
