<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8"/>
    <title>Learn HEX Math</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script type="text/javascript" src="learnhex.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/common.css"/>
  </head>
  <body class="container" ng-controller="LearningController">
    <header class="row">
      <h1 class="offset1">Learn HEX Math &mdash; {{operator.name}}</h1>
    </header>

    <div id="controls" class="row">
      <div class="offset1 span2">
        <button ng-hide="timeTicks" ng-click="start()">Begin!</button>
        <div id="timer" ng-show="timeTicks">{{formattedTime()}}</div>
      </div>
      <div class="span1">
        <button ng-show="timeTicks" ng-click="end()">Finished!</button>
      </div>

      <div id="gradePercent" class="offset5 span1" ng-show="graded">{{gradePercent}}%</div>
      <div id="grade" class="span1" ng-show="graded">{{grade}}</div>
    </div>

    <div class="problems">
      <div class="row" ng-repeat="row in rows">
        <div class="span1"></div>
        <div class="problem span1" ng-repeat="problem in row" ng-class="problem.answerClass">
          <span class="facA">0x{{problem.facA.toString(16)}}</span>
          <span class="op">{{problem.op.sign}}</span>
          <span class="facB">0x{{problem.facB.toString(16)}}</span>
          <div class="answer">
            <input type="text" ng-model="problem.userAnswer"/>
          </div>
        </div>
        <div class="span1"></div>
      </div>
    </div>

    <div class="row">
      <footer class="offset1 span10">
        Learn HEX Math is written by <a href="http://robert.sesek.com">Robert Sesek</a>. I wrote
        it when learning X86 assembly and was finding that my inexperience with hexadecimal math
        was slowing me down. I remember in early elementary school, our teachers made us do math
        tables for time, and so I decided to recreate that experience online for doing HEX math.
      </footer>
    </div>
  </body>
</html>
